<form action="/posts/new" method="post" enctype="multipart/format-data">
  <p>
    <label>
      Enter your post:
      <input type="text" name="post-text">
    </label>
  </p>

  <p>
    <label>
      Post Creator:
      <input type="text" name="username" value="{{user.username}}" required="required">
    </label>
  </p>

  <p>
    <label>
      Upload a Photo:
      <input type="file" name="photo">
    </label>
  </p>

  <button type="submit">Save Post</button>
</form>