<h2>Upload a new Post</h2>
<form action="/post/add" method="post" enctype="multipart/form-data">
  <label>Content</label>
  <input type="text" name="content">

  <label>authorId</label>
  <input type="text" name="authorId">

  <label>picPath</label>
  <input type="file" name="photo">

  <label>picName</label>
  <input type="text" name="picName">

  <input type="submit" value="SAVE">
</form>