<h2>Upload a new Post</h2>
<form action="/posts" method="post" enctype="multipart/form-data">
  <p><label>Content</label>
  <input type="text" name="content"></p>

  <p><label>authorId</label>
  <input type="text" name="authorId"></p>

  <p><label>picPath</label>
  <input type="file" name="photo"></p>

  <p><label>picName</label>
  <input type="text" name="picName"></p>

  <input type="submit" value="SAVE">
</form>