<h1>Welcome {{user.username}} to IronTumblr</h1>

{{#unless user}}
<p>
  <a href="/signup">Signup</a> or <a href="/login">Login</a>
</p>
{{else}}
<p>
  <a href="/logout">Logout</a>
</p>
{{/unless}}

<h2>List of posts : </h2>
<a href="/posts/new">Create new post</a>
{{#each posts}}
<p>{{content}}</p>
<a href="/posts/{{_id}}">see more</a>
{{/each}}