<form action="/post/add" method="post" enctype="multipart/form-data">
  <p>
    <label>
      Content:
      <input type="text" name="content">
    </label>
  </p>

  <p>
    <label>
      Image du post:
      <input type="file" name="picpath">
    </label>
  </p>

  <p>
    <label>
      Nom de l'image:
      <input type="text" name="picname">
    </label>
  </p>

  <button type="submit">Signup</button>
</form>
